@import url(https://fonts.googleapis.com/css?family=Quicksand:400,500);
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}



/*------------- OVERALL LAYOUT ------------*/
body {
  font-family: 'Roboto', serif;
}

html {
   overflow-y: hidden;
   overflow-x: hidden;
}

.w3-jumbo::first-letter {
	font-size: 150%;

}

/*-----------NAVBAR -----------------------*/
.navbar {
    background-color: #263238;
    color: white;
    padding-left: 650px;
}

.nav-link:hover {
	background-color: #546e7a;
	border-radius: 50px;
	color: white;
}

.navbar .navbar-toggle .icon-bar {
   background-color: #BDBDBD;
}


.navbar-toggle {
  right: 95%;
  display: none;
}

/*--------------BANNER -----------------*/
#top {
	
	padding-top: none;    
    height: 99.5%;

    /* Position and center the image to scale nicely on all screens */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	overflow: hidden;
	
}

.center {
    display: none;
}

.container_smallIcons {
    display: none;
}

.w3-display-topmiddle h1 {
  color: #263238;
  font-size: 2.0em;
  padding-top: none;
  font-family : 'consolas';
  animation: type 4s steps(32);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  width : 10;
}

@keyframes type {
  0%{
    width: 0ch;
  }
  100%{
    width: 32ch;
  }
}

.w3-display-topmiddle span {
	display: none;
}

/** Fade In Effect */
#fadein {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.circular--portrait1 {
        position: relative;
        border-radius: 50%;
        width: 170px;
        height: 170px;
        margin-top: 2%;
        background: white;
		
    }    

.w3-display-topmiddle h3{
  color: #263238;
  font-size: 1.5em;
  padding-top: 30px;
  font-family : 'consolas';
  overflow: hidden;
}




.w3-display-topmiddle{
	padding-top: 150px;
	text-align: center;
}


#bt1 {
    background-color: #ff6c40;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 50px;
  	max-width: 127px;
  	max-height: 35px;
  	font-size: 11px;
}

#bt2 {
    background-color: #ff6c40;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 50px;
  	max-width: 127px;
  	max-height: 35px;
  	font-size: 11px;
}

#bt3 {
    background-color: #ff6c40;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 50px;
  	max-width: 127px;
  	max-height: 35px;
  	font-size: 11px;
}

#bt4 {
    background-color: #ff6c40;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 50px;
  	max-width: 127px;
  	max-height: 35px;
  	font-size: 11px;
}

.semi-transparent-button {
background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.5);

  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0px;

}

/*-----------PORTFOLIO ----------------*/

.heading2{
	padding-top: 50px;
	font-size: 50px;
}

.container_cards {
  max-width: 1300px;
  margin: 0 auto;
  background: #ffffff;
  padding: 25px;
}

.card {
	max-width: 350px;
	max-height: 400px
}


#space1 {
	padding-top: 10px
}


/*-----------PARALLAX EFFECT FOR QUOTE -----------------------*/
.parallax {
  background: url('../parallax.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 230px;
}

.quoteSection{
	background-color: #78909C;
	margin-top: 7px;
    margin-bottom: 30px;
	color: white;
}

.quote {
	font-size: 20px;

}

/*---------------------ABOUT ME-----------------------------*/
.aboutme{
	padding-top: 15px;
	margin-left: 282px;
}

.aboutMeSection{
	padding-bottom: 50px;
}



.circular--portrait2 {
	display: none;
}

/*--------------------FOOTER -------------------------------*/
.contactme{
	text-align: center;
}

.btnicon {
	height: 50px;
	width: 50px;
	border-radius:50%;
}

.footer-copyright{
	margin-top: 20px;
}

/*-------------------MEDIA!!-----------------------*/

@media screen and (max-width: 768px){
    
    /*-----------Navbar section on mobile -----------------*/
   
    .navbar {
        display: none
    }
    

    
    /*-----------Banner section on mobile -----------------*/
    
    #top{
        max-height: 350px;
    }
	
	.w3-display-topmiddle h1 {
		display: none;
	}
    
	
	.circular--portrait1 {
		display: none;
	}
	
	.w3-display-topmiddle span {
		display: inline;
		font-size: 23px;
		color: #263238;
		padding-bottom: 50px;
		
	}
	
	.container_smallIcons {
        display: inline;
        position: relative;
        left: 0;
        top: 99%;
        width: 100%;
    }
    
    .btnicon_m {
	   height: 35px;
	   width: 35px;
	   border-radius:50%;
    }
    
    
    .heading3 {
        display: none;
    }
    
    #bt1, #bt2 , #bt3, #bt4 {
        display: none;
    }
    
    /*------------Quote section on mobile -----------------*/
    
    .parallax {
  	background: url('../parallax.jpg') no-repeat center;
  	background-size: cover;
  	background-attachment: fixed;
  	height: 285px;	
	}

	.quoteSection{
	background-color: #78909C;
	margin-top: 7px;
    margin-bottom: 30px;
	color: white;
	}

	.quote {
	font-size: 16px;

	}
    
    /*-------------About me section on mobile ---------------*/
    #abtme h2 {
        font-size: 20px;
    }
	
	.aboutme{
		margin-left: 0;
	}
    .aboutMeSection{
        font-size: 14px;
    } 
    
    .circular--portrait2 {
		display: inline;
		padding-top: 10px;
  		width: 220px;
  		height: 220px;
  		border-radius: 50%;
	}   
}