
/*------------- OVERALL LAYOUT ------------*/
body {
  font-family: 'Roboto', serif;
}

html {
   overflow-y: hidden;
   overflow-x: hidden;
}

.w3-jumbo::first-letter {
	font-size: 150%;

}

/*-----------NAVBAR -----------------------*/
.navbar {
    background-color: #263238;
    color: white;
    padding-left: 550px;
}

.nav-link:hover {
	background-color: #546e7a;
	border-radius: 50px;
	color: white;
}

.navbar .navbar-toggle .icon-bar {
   background-color: #BDBDBD;
}


.navbar-toggle {
  right: 95%;
  display: none;
}

/*--------------BANNER -----------------*/
#top {
    overflow: hidden;
}

.center {
    display: none;
}

.container_smallIcons {
    display: none;
}

.w3-display-topmiddle h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 4em;
  color: rgba(255,255,255,.50);
  background-image: url(http://viktor-cegan.wz.cz/ryba2.png);
  background-repeat: repeat-x;

  -webkit-background-clip: text;
  animation: animate 15s linear infinite
}

.w3-display-topmiddle h3{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 1.3em;
  color: rgba(255,255,255,.60);
  background-image: url(http://viktor-cegan.wz.cz/ryba2.png);
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate2 15s linear infinite
}

@keyframes animate
{
  0%
  {
    background-position: left 0px top 80px;
  }

   40%
  {
    background-position: left 800px top -50px;
  }

    80%
  {
    background-position: left 1800px top -50px;
  }

    100%
  {
    background-position: left 2400px top 80px;
  }
}

@keyframes animate2
{
  0%
  {
    background-position: left 0px top 80px;
  }

   40%
  {
    background-position: left 800px top -50px;
  }

    80%
  {
    background-position: left 1800px top -50px;
  }

    100%
  {
    background-position: left 2400px top 80px;
  }
}

.w3-display-topmiddle{
	padding-top: 150px;
	text-align: center;
}

.line-seperator {
	height:1px;
	background:#717171;
	border-bottom:4px solid #313030;
}

.heading2{
	padding-top: 50px;
	font-size: 50px;
}

#bt1 {
    background-color: ;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 50px;
  	max-width: 127px;
  	max-height: 35px;
  	font-size: 11px;
}

#bt2 {
    background-color: ;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 50px;
  	max-width: 127px;
  	max-height: 35px;
  	font-size: 11px;
}

#bt3 {
    background-color: ;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 50px;
  	max-width: 127px;
  	max-height: 35px;
  	font-size: 11px;
}

#bt4 {
    background-color: ;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 50px;
  	max-width: 127px;
  	max-height: 35px;
  	font-size: 11px;
}

.semi-transparent-button {
background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.5);

  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0px;

}

/*-----------PORTFOLIO ----------------*/
.heading3{
	font-size: 50px;
}

.container_cards {
  max-width: 1300px;
  margin: 0 auto;
  background: #ffffff;
  padding: 25px;
}

.card {
	max-width: 350px;
	max-height: 400px
}


#space1 {
	padding-top: 10px
}


/*-----------PARALLAX EFFECT FOR QUOTE -----------------------*/
.parallax {
  background: url('../parallax.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 350px;
}

.quoteSection{
	background-color: #78909C;
	margin-top: 50px;
	color: white;
}

.quote {
	font-size: 22px;

}

/*---------------------ABOUT ME-----------------------------*/
.aboutme{
	padding-top: 15px;
}

.aboutMeSection{
	padding-bottom: 50px;
}

.circular--portrait {
  width: 275px;
  height: 275px;
  border-radius: 50%;
}

/*--------------------FOOTER -------------------------------*/
.contactme{
	text-align: center;
}

.btnicon {
	height: 50px;
	width: 50px;
	border-radius:50%;
}

.footer-copyright{
	margin-top: 20px;
}

/*-------------------MEDIA!!-----------------------*/

@media screen and (max-width: 768px){
    
    /*-----------Navbar section on mobile -----------------*/
   
    .navbar {
        display: none;
    }
    

    
    /*-----------Banner section on mobile -----------------*/
    
    #top{
        max-height: 500px;
    }
    
      .heading1 {
        text-indent: -9999px;
        line-height: 0; /* Collapse the original line */
    }

    .heading1::after {
        content: "Gaurav Sharma";
        font-size: 30px;
        padding: 0;
        margin: 0;
        padding-bottom: 100px;
        text-indent: 0;
        display: block;
        line-height: initial; /* New content takes up original line height */
    }
    
    .container_smallIcons {
        display: inline;
        position: absolute;
        left: 0;
        top: 70%;
        width: 100%;
    }
    
    .btnicon_m {
	   height: 35px;
	   width: 35px;
	   border-radius:50%;
    }
    
    .line-seperator {
	   display: none;
    }
    
    .heading3 {
        display: none;
    }
    
    #bt1, #bt2 , #bt3, #bt4 {
        display: none;
    }
    
    /*------------Quote section on mobile -----------------*/
    
    .quote {
        font-size: 14px;
    }
    
    /*-------------About me section on mobile ---------------*/
    #abtme h2 {
        font-size: 20px;
    }
    .aboutMeSection{
        font-size: 11.5px;
    }
    
    .nav {
        display: none;
    }
    
    
    
    
    
}